* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
}

.table-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

thead th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
    color: #55afff;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border-left: 1px solid #f1f1f1;
}

tbody td:first-child {
    border-left: none;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.edit-btn {
    background-color: #4bc64b;
    color: white;
}

.edit-btn:hover{
    background-color: #009500;
}

.delete-btn {
    background-color: #ea3a3a;
    color: white;
}

.delete-btn:hover {
    background-color: #b60f0f;
}

.edit-btn, .delete-btn {
    border: none;
    border-radius: 30%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-btn i, .delete-btn i {
    font-size: 16px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 450px;
    width: 100%;
}

.modal-btn {
    padding: 10px;
    margin: 10px;
    background-color: #3ea7ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-btn:hover {
    background-color: #2968ac;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
