<div class="form-container">
    <!-- Formulaire d'Inscription -->
    <form id="form-inscription" action="/inscrire" method="POST">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>
        <div class="form-group">
            <label for="anNaissance">Année de naissance</label>
            <input type="number" id="anNaissance" name="anNaissance" required>
        </div>
        <div class="form-group">
            <label for="salaire">Salaire</label>
            <input type="number" id="salaire" name="salaire" required>
        </div>
        <div class="form-group">
            <label for="prime">Prime</label>
            <input type="number" id="prime" name="prime" required>
        </div>
        <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" name="pseudo" required>
        </div>
        <button type="submit" class="modal-btn">Inscrire</button>
    </form>
</div>
